<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <link href="assets/bootstrap.css" rel="stylesheet" />  
  <link href="assets/pe-icon-7-stroke.css" rel="stylesheet" />
  <link href="assets/ct-navbar.css" rel="stylesheet" />  
  <link href="assets/application.css.scss" rel="stylesheet" />  
  
    <!--     Font Awesome     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <style>
        .fa-heart{
            color: #F74933;
        }   
        .space-100{
            height: 100px;
            display: block;
        }
        pre.prettyprint{
            background-color: #ffffff;
            border: 1px solid #999;
            margin-top: 20px;
            padding: 20px;
            text-align: left;
        }
        .atv, .str{
            color: #05AE0E;
        }
        .tag, .pln, .kwd{
             color: #3472F7;
        }
        .atn{
          color: #2C93FF;
        }
        .pln{
           color: #333;
        }
        .com{
            color: #999;
        } 
    </style>
</head>

<body>
 <div id="navbar-full">
    <div id="navbar">
       <!--    
        navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange  
        -->
        <nav class="navbar navbar-ct-blue navbar-fixed-top navbar-transparent" role="navigation">
          
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand navbar-brand-logo" href="http://www.creative-tim.com">
                    <div class="logo">
                    <img src="assets/minilogo.png">
                    </div>
                    <div class="brand"> Nuestra Megamarca </div>
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:void(0);" data-toggle="search" class="hidden-xs">
                            <i class="pe-7s-search"></i>
                            <p>Search</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="pe-7s-mail">
                                <span class="label">23</span>
                            </i>
                            <p>Messages</p>
                        </a>
                    </li> 
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="pe-7s-user"></i>
                                <p>Account</p>
                            </a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                    </li>
               </ul>
               <form class="navbar-form navbar-right navbar-search-form" role="search">                  
                 <div class="form-group">
                      <input type="text" value="" class="form-control" placeholder="Search...">
                 </div> 
              </form>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
       <div class="blurred-container">
            <div class="img-src" style="background-image: url('assets/bg.jpg')"></div>
        </div>
    </div><!--  end navbar -->

</div> <!-- end menu-dropdown -->

<div class="main">
    <div class="container tim-container" style="padding-top:100px">
       <div class="site-wrapper" id="site-wrapper">
    <div class="container-fluid" id="containing-wrapper">

      <div class="row">

      </div>




  <div class="row">

    <div class="col-sm-12">
      <div class="profiles-header">
        <h1>Contenido</h1>
        <p>Este seria un parrafo introductorio de nuestro objetivo, mision, vision, etc donde pondremos lo que queramos que nuestros visitantes vean en primera plana. Podemos hablar de quienes somos y para que estamos etc etc. Ya no se que mas escribir para llenar dos lineas.   </p>
      </div>
    </div>


        <div class="col-sm-4 col-xs-12">
      <div class="profile ">

        <div class="profile-content">
          <a href="/profiles/venkatesh-iyer">
            <div class="img" style="background-image: url('assets/kitty.png')">
               <%= image_tag('http://lachachara.org/wp-content/uploads/2014/04/arteurbanocar.jpg') %>
            </div>
          </a>
          <div class="profile-content-copy">
            <p class="category">Articulo</p>
            <a href="/profiles/venkatesh-iyer">
              <h3 class="profile-name">Diseño Barranquilla</h3>
            </a>
            <p class="profile-summary">Descripcion de articulo interesante que lo resuma y den ganas de leerlo</p>
            <a href="/profiles/venkatesh-iyer" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4 col-xs-12">
      <div class="profile">

        <div class="profile-content">
          <a href="/profiles/alex-galantino">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/a292570c-c992-42bd-b38e-3b5d3646a0c4/3.jpg)"> <%= image_tag("http://blog.logodesignguru.com/wp-content/uploads/2012/01/organized-graphic-designer.jpg") %> </div>
          </a>
          <div class="profile-content-copy">
            <p class="category">Perfil</p>
            <a href="/profiles/alex-galantino">
              <h3 class="profile-name">Juan Perez</h3>
            </a>
            <p class="profile-summary">Conoce a este nuevo diseñador y su increible propuesta que te cambiara la vida. </p>
            <a href="/profiles/alex-galantino" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4 col-xs-12">
      <div class="profile Today we’re taking a few minutes out to have a chat with Tom Woolley, a freelance Illustrator currently working out of Bradford, West Yorkshire. He specialises in illustrated maps and hand lettering with a very distinctive style. ">

        <div class="profile-content">
          <a href="/profiles/tom-woolley">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/5317b3e6-8815-4bc6-97be-0d26189719d0/thumb.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/tom-woolley">
              <h3 class="profile-name">Tom Woolley</h3>
            </a>
            <p class="profile-summary">Freelance Illustrator working out of Bradford, West Yorkshire</p>
            <a href="/profiles/tom-woolley" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4 col-xs-12">
      <div class="profile ">

        <div class="profile-content">
          <a href="/profiles/ruth-rollin">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/b310f4cf-898a-4156-bdfa-04662370aedd/poten.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/ruth-rollin">
              <h3 class="profile-name">Ruth Rollin</h3>
            </a>
            <p class="profile-summary">Today we met with Ruth Rollin to talk about Red tattoo and piercing studio in Leeds</p>
            <a href="/profiles/ruth-rollin" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4 col-xs-12">
      <div class="profile Today we would like you to meet an ambitious entrepreneur by the name of Emma Hardaker; owner of Medium, the only dedicated art supplies shop in Leeds city centre(unbelievable as that sounds, considering the rippling art scene in the city!). We wanted to learn a little more about the store and Emma’s journey to Medium so we stopped by for a chat. ">

        <div class="profile-content">
          <a href="/profiles/emma">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/d3c61012-73be-43d4-aba8-54869f3a71b9/mediumthumb.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">Profiles</p>
            <a href="/profiles/emma">
              <h3 class="profile-name">Emma Hardaker</h3>
            </a>
            <p class="profile-summary">Ambitious owner of the independent art supplies store  Medium Modes of Expression</p>
            <a href="/profiles/emma" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4 col-xs-12">
      <div class="profile Today we dropped into the Leeds Corn Exchange to visit the independent clothing boutique known as Fresco and to have a chat with the store’s owner, operator and clothing designer: Kate Worthington. ">

        <div class="profile-content">
          <a href="/profiles/kate-worthington">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/2573ef5f-ed00-4e63-90cb-dc938f07ef70/frescothumb.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/kate-worthington">
              <h3 class="profile-name">Kate Worthington</h3>
            </a>
            <p class="profile-summary">We dropped into the Leeds Corn Exchange to visit the independent clothing boutique Fresco</p>
            <a href="/profiles/kate-worthington" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4 col-xs-12">
      <div class="profile Last Thursday we were lucky enough to receive an invite to Latitude's sixth birthday event. This consisted of an open tasting session of a wide selection of Latitude’s portfolio of spirits, beers and wines. <br />">

        <div class="profile-content">
          <a href="/profiles/chris-hill">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/d427bebb-3d01-478f-af55-0cc7a753448e/latthumb.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/chris-hill">
              <h3 class="profile-name">Chris Hill</h3>
            </a>
            <p class="profile-summary">Learn a little more about Chris and Latitude: purveyor of over 1200 varieties of spirits, wine and beer </p>
            <a href="/profiles/chris-hill" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>


    <div class="space-100"></div>
    <p class="text-center">Copyright &copy; 2014, made with <i class="fa fa-heart"></i> </p>
<!-- end container -->
</div>
<!-- end main -->

</body>

    <script src="assets/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="assets/bootstrap.js" type="text/javascript"></script>
  
  <script src="assets/ct-navbar.js"></script>
  
<%= yield %>
</html>
